<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
<header>
    <nav class="orange darken-4">
        <div class="container">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Блог</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {{#if isLogin}}
                        <li class="active"><a href="/login">Войти</a></li>
                    {{else}}
                        <li><a href="/login">Войти</a></li>
                    {{/if}}
                    {{#if isReg}}
                        <li class="active"><a href="/registration">Регистрация</a></li>
                    {{else}}
                        <li><a href="/registration">Регистрация</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</header>