* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 1.5em;
}

.pt-2 {
    padding-top: 2em;
}

.pb-2 {
    padding-bottom: 2em;
}

.d-none {
    display: none;
}

section.full {
    min-height: calc(100vh - 64px);
    padding: 30px 0;
}

.title {
    margin-bottom: 30px;
}


.blog_content .card {
    padding: 20px;
}

.card_author {
    border: 1px solid #e65100;
    border-radius: 4px;
    display: inline-block;
    padding: 4px 12px 2px;
    background: #e65100;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.card_date {
    color: gray;
    font-size: 0.8em;
}

.card_content {
    padding: 0.5em 1em;
    background-color: #a2a2e7;
    border-radius: 4px;
    margin-top: 1em;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.card_inner {
    position: relative;
}

.card_edit {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 4px;
    padding: 0.5em;
    font-size: 0.8em;
}

.text a:hover,
.card_edit a:hover {
    color: #e65100;
}